article{
    margin-left: 30%;
    margin-top: 5%;
    width: 100%;
    max-width: 480px;
    background-color: white;
    border-radius: 5px;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: 0px 2px 10px 2px #a0dff1ec;
    max-height: 40rem;
    user-select: none;
  }
  
  .img-container{
    position: relative;
    background-color: #a0dff1ec;
    width: 135px;
    height: 131px;
    border-radius: 50%;
  }
  
  .person-img{
    width: 130px;
    height: 130px;
    border-radius: 50%;
    object-fit: cover;
  }
  
  .quote-icon{
    position: absolute;
    top: 0;
    left: 0;
    background-color:#a0dff1ec;
    color: white;
    width: 30px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
  }
  
  .name{
    margin-top: 20px;
    font-size: 1.2rem;
  }
  
  .job{
    color: #155364ec;
    margin: 10px;
    font-size: 1rem;
    text-transform: uppercase;
    font-weight: 600;
  }
  
  .desc{
    text-align: center;
    font-size: 1rem;
    color: #333;
    text-align: justify;
    max-width: fit-content;
  }
  
  .btn-container{
    margin-top: 10px;
    margin-bottom: 10px;
    display: flex;
    gap: 10px;
  }
  
  .prev-btn{
    background-color: white;
    color: #a0dff1ec;
    border: none;
    cursor: pointer;
    font-size: 1.3rem;
  }
  .next-btn{
    background-color: white;
    color: #a0dff1ec;
    border: none;
    cursor: pointer;
    font-size: 1.3rem;
  }
  
  .prev-btn:active, .next-btn:active{
    transform: scale(.8);
    color: red;
  }
  
  .random-btn{
    border: none;
    /* background-color: rgb(173, 254, 255); */
    background-color: transparent;
    color: rgb(1, 82, 83);
    border-radius: 5px;
    padding: 8px 15px;
    font-size: 1rem;
    cursor: pointer;
  }
  
  .random-btn:hover{
    background-color: #a0dff1ec;
    color: white;
  }