.container{
    max-height: 100vh;
}

.footer-container{
    min-height: 40vh;
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
    padding-top: 3rem
}

.shrey{
    margin-top: 13rem ;
    margin-left: 13rem;
}
