.container{
    margin: 0;
    padding: 0;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    scroll-behavior: smooth;
}

.Header-Name{
    display: flex;
    justify-content: space-between;
    margin-top: 2rem;
    margin-left: 5%;
    padding: 1%;
    cursor: pointer;
    user-select: none !important;
}
.navbar{
    display: flex;
    justify-content: space-evenly;
    padding-right: 4rem;
    margin-right: 2%;
    padding-left: 2rem;
}

.containerWorldMap{
    display: flex;
    flex-direction: row;
    margin-top: 8%;
    margin-left: 1%;
    padding: 1rem;
    height: 20vh;
    cursor: pointer;
    user-select: none !important;
}
.second-container{
    margin-top: 6%;
    padding: 4rem;
    max-height: 100vh;
    scroll-behavior: smooth;
    user-select: none;
    cursor: pointer;
}




/* if screen size is small (Screen Size < 600 )*/
@media screen and (max-width: 600px) {

    

    div.Header-Name{
        display:inline-block;
        margin-bottom: 10% !important;
        margin-right:0;
        justify-content: space-around !important;
        margin-left: 0%;
    }

    div.navbar{
        width: 100%;
        margin-top: 0;
        top: 0;
    }

    div.containerWorldMap {
        display: block;
        padding: 0.2%;
      
    }
    div.second-container{
        padding: 4rem;
        margin-top: 40%;
        max-width: fit-content;
    }
  }


  
